In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_stock = pd.read_csv('./data/600519.csv')
df_stock = df_stock.iloc[::-1].reset_index(drop=True)
df_stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1942 entries, 0 to 1941
Data columns (total 7 columns):
date      1942 non-null object
close     1942 non-null object
open      1942 non-null object
high      1942 non-null object
low       1942 non-null object
volume    1942 non-null object
change    1942 non-null object
dtypes: object(7)
memory usage: 106.3+ KB

In [4]:
df_stock.head()

         date   close    open    high     low   volume  change
0  2012年3月21日   205.1   207.8     209  203.86    2.95M  -1.28%
1  2012年3月22日  205.35  204.32   206.9  204.29  833.19K   0.12%
2  2012年3月23日  212.02   207.5  212.55   207.5    5.49M   3.25%
3  2012年3月26日   215.2  211.12   215.9   211.1    3.77M   1.50%
4  2012年3月27日   201.5  210.22  210.99     201    7.91M  -6.37%

In [5]:
def func_map_volume(x):
    if 'K' in x:
        return float(x.replace('K', '')) * 1e3
    else:
        return float(x.replace('M', '')) * 1e6

df_stock['close'] = df_stock['close'].map(lambda x: float(x.replace(',', '')))
df_stock['open'] = df_stock['open'].map(lambda x: float(x.replace(',', '')))
df_stock['high'] = df_stock['high'].map(lambda x: float(x.replace(',', '')))
df_stock['low'] = df_stock['low'].map(lambda x: float(x.replace(',', '')))
df_stock['volume'] = df_stock['volume'].map(func_map_volume)
df_stock['change'] = df_stock['change'].map(lambda x: float(x.replace('%', '')) / 100)

In [6]:
df_stock.to_csv('./data/600519_clean.csv', index=False)

In [47]:
df_mt = pd.read_csv('./data/600519.csv')

df_mt.describe()

,Close,Open,High,Low,Volume,Change
count,1942.000000,1942.000000,1942.000000,1942.000000,1.942000e+03,1942.000000
mean,416.342152,415.675396,421.311972,410.796777,4.143622e+06,0.001037
std,308.651366,308.184666,311.933793,304.812292,2.680067e+06,0.020511
min,107.960000,108.050000,109.480000,107.280000,8.148700e+05,-0.123000
25%,176.577500,176.465000,178.675000,173.372500,2.462500e+06,-0.009800
50%,249.850000,249.550000,253.665000,246.575000,3.520000e+06,0.000150
75%,657.252500,654.292500,668.830000,645.120000,4.957500e+06,0.011375
max,1233.750000,1231.000000,1241.610000,1228.060000,3.181000e+07,0.103700

In [48]:
df_ap = pd.read_csv('./data/AAPL.csv')

df_ap.describe()

,Unnamed: 0,Open,High,Low,Close,Volume
count,5255.000000,5255.000000,5255.000000,5255.000000,5255.000000,5.255000e+03
mean,2627.000000,158.335855,160.109968,156.388133,158.286548,2.122191e+07
std,1517.132163,161.309153,162.588024,159.766714,161.195754,1.824189e+07
min,0.000000,12.990000,13.190000,12.720000,13.120000,7.025000e+05
25%,1313.500000,37.940000,38.580000,37.160000,37.980000,6.705350e+06
50%,2627.000000,106.370000,108.000000,104.880000,106.130000,1.677300e+07
75%,3940.500000,187.765000,189.405000,185.635000,187.560050,2.976013e+07
max,5254.000000,702.410000,705.070000,699.570000,702.100000,1.895606e+08

In [30]:
bs.logout()

logout success!

In [49]:
import baostock as bs
import pandas as pd

OUTPUT = './stockdata'

date = "1999-12-31"

lg = bs.login()
print('lg = ', lg.error_code, lg.error_msg)

# 获取指定日期的指数、股票数据
stock_rs = bs.query_all_stock(date)
stock_df = stock_rs.get_data()
data_df = pd.DataFrame()

data_df
# bs.query_history_k_data_plus('sh.600325', "date,code,open,high,low,close", '1990-01-01', '2020-03-24').get_data()

login success!
lg =  0 success

Empty DataFrame
Columns: []
Index: []

In [ ]:
for code in stock_df["code"]:
    print("Downloading :" + code)
    k_rs = bs.query_history_k_data_plus(code, "date,code,open,high,low,close", date, date)
    data_df = data_df.append(k_rs.get_data())
bs.logout()
data_df.to_csv(f"{OUTPUT}/{date}.csv", encoding="gbk", index=False)

In [ ]:
k_rs = bs.query_history_k_data_plus(code, "date,code,open,high,low,close", date, date)
data_df = data_df.append(k_rs.get_data())
data_df

In [50]:
import baostock as bs
import pandas as pd

#### 登陆系统 ####
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

#### 获取沪深A股历史K线数据 ####
# 详细指标参数，参见“历史行情指标参数”章节；“分钟线”参数与“日线”参数不同。
# 分钟线指标：date,time,code,open,high,low,close,volume,amount,adjustflag
rs = bs.query_history_k_data_plus("sh.600000",
    "date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST",
    start_date='2017-07-01', end_date='2017-12-31',
    frequency="d", adjustflag="3")
print('query_history_k_data_plus respond error_code:'+rs.error_code)
print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

#### 打印结果集 ####
data_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs.get_row_data())
result = pd.DataFrame(data_list, columns=rs.fields)

#### 结果集输出到csv文件 ####   
result.to_csv("history_A_stock_k_data.csv", index=False)
print(result)

#### 登出系统 ####
bs.logout()

login success!
login respond error_code:0
login respond  error_msg:success
query_history_k_data_plus respond error_code:0
query_history_k_data_plus respond  error_msg:success
           date       code     open     high      low    close preclose  \
0    2017-07-03  sh.600000  12.6400  12.6500  12.4700  12.5600  12.6500
1    2017-07-04  sh.600000  12.5500  12.5800  12.4100  12.5500  12.5600
2    2017-07-05  sh.600000  12.5000  12.6500  12.4700  12.6200  12.5500
3    2017-07-06  sh.600000  12.6200  12.7200  12.5100  12.6600  12.6200
4    2017-07-07  sh.600000  12.6200  12.6900  12.5500  12.6000  12.6600
..          ...        ...      ...      ...      ...      ...      ...
120  2017-12-25  sh.600000  12.6100  12.6800  12.5600  12.5900  12.6200
121  2017-12-26  sh.600000  12.5700  12.6600  12.5600  12.6400  12.5900
122  2017-12-27  sh.600000  12.6500  12.6600  12.5300  12.6200  12.6400
123  2017-12-28  sh.600000  12.6000  12.6600  12.5300  12.5400  12.6200
124  2017-12-29  sh.600000  12.5200  12.6200  12.5100  12.5900  12.5400

       volume          amount adjustflag      turn tradestatus     pctChg isST
0    38778949  486264672.0000          3  0.137985           1  -0.711456    0
1    36659128  458434432.0000          3  0.130442           1  -0.079620    0
2    26470507  332542464.0000          3  0.094188           1   0.557767    0
3    37414241  471582096.0000          3  0.133129           1   0.316957    0
4    24667294  311101536.0000          3  0.087772           1  -0.473929    0
..        ...             ...        ...       ...         ...        ...  ...
120  19306662  243553698.0000          3  0.068698           1  -0.237716    0
121  15225722  192219131.0000          3  0.054177           1   0.397142    0
122  32731881  412197987.0000          3  0.116468           1  -0.158231    0
123  23870824  300834017.0000          3  0.084938           1  -0.633914    0
124  16351826  205752875.0000          3  0.058184           1   0.398726    0

[125 rows x 14 columns]
logout success!

In [ ]:
import baostock as bs
import pandas as pd

#### 登陆系统 ####
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

#### 获取沪深A股历史K线数据 ####
# 详细指标参数，参见“历史行情指标参数”章节；“分钟线”参数与“日线”参数不同。
# 分钟线指标：date,time,code,open,high,low,close,volume,amount,adjustflag
rs = bs.query_history_k_data_plus("sh.600000",
    "date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST",
    start_date='2017-07-01', end_date='2017-12-31',
    frequency="d", adjustflag="3")
print('query_history_k_data_plus respond error_code:'+rs.error_code)
print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

#### 打印结果集 ####
data_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs.get_row_data())
result = pd.DataFrame(data_list, columns=rs.fields)

#### 结果集输出到csv文件 ####   
result.to_csv("D:\\history_A_stock_k_data.csv", index=False)
print(result)

#### 登出系统 ####
bs.logout()

In [51]:
import pandas as pd

df = pd.read_csv('./stockdata/sz.000725.京东方A.csv')
df.describe()

,open,high,low,close,volume,amount,adjustflag,turn,tradestatus,pctChg,peTTM,pbMRQ,psTTM,pcfNcfTTM,isST
count,4651.000000,4651.000000,4651.000000,4651.000000,4.651000e+03,4.651000e+03,4651.0,4525.000000,4651.000000,4651.000000,4651.000000,4651.000000,4651.000000,4651.000000,4651.000000
mean,5.869697,5.981357,5.763606,5.871417,2.135946e+08,8.548604e+08,3.0,2.082729,0.972909,0.038515,59.659148,2.534883,2.267874,-227.704252,0.050742
std,4.724697,4.809823,4.642265,4.718630,4.138578e+08,1.975825e+09,0.0,2.441745,0.162366,2.948322,490.488814,1.882626,1.688504,3192.788742,0.219494
min,1.640000,1.650000,1.610000,1.640000,0.000000e+00,0.000000e+00,3.0,0.025607,0.000000,-25.182480,-618.383246,0.911345,0.353457,-55858.510743,0.000000
25%,2.700000,2.740000,2.655000,2.710000,3.371594e+06,2.179547e+07,3.0,0.757855,1.000000,-1.298700,-3.675650,1.311007,1.132680,-17.064579,0.000000
50%,3.720000,3.810000,3.670000,3.740000,4.019589e+07,1.276434e+08,3.0,1.331777,1.000000,0.000000,25.144440,1.819278,1.689825,4.525484,0.000000
75%,7.480000,7.480000,7.325000,7.400000,2.414061e+08,7.077564e+08,3.0,2.477345,1.000000,1.332206,50.543466,3.047561,2.876503,14.751207,0.000000
max,23.480000,24.800000,22.800000,23.250000,5.135466e+09,2.729350e+10,3.0,72.433520,1.000000,35.535720,6204.161482,11.291477,8.745650,440.225456,1.000000