In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_stock = pd.read_csv('./data/600519.csv')
df_stock = df_stock.iloc[::-1].reset_index(drop=True)
df_stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1942 entries, 0 to 1941
Data columns (total 7 columns):
date      1942 non-null object
close     1942 non-null object
open      1942 non-null object
high      1942 non-null object
low       1942 non-null object
volume    1942 non-null object
change    1942 non-null object
dtypes: object(7)
memory usage: 106.3+ KB

In [4]:
df_stock.head()

         date   close    open    high     low   volume  change
0  2012年3月21日   205.1   207.8     209  203.86    2.95M  -1.28%
1  2012年3月22日  205.35  204.32   206.9  204.29  833.19K   0.12%
2  2012年3月23日  212.02   207.5  212.55   207.5    5.49M   3.25%
3  2012年3月26日   215.2  211.12   215.9   211.1    3.77M   1.50%
4  2012年3月27日   201.5  210.22  210.99     201    7.91M  -6.37%

In [5]:
def func_map_volume(x):
    if 'K' in x:
        return float(x.replace('K', '')) * 1e3
    else:
        return float(x.replace('M', '')) * 1e6

df_stock['close'] = df_stock['close'].map(lambda x: float(x.replace(',', '')))
df_stock['open'] = df_stock['open'].map(lambda x: float(x.replace(',', '')))
df_stock['high'] = df_stock['high'].map(lambda x: float(x.replace(',', '')))
df_stock['low'] = df_stock['low'].map(lambda x: float(x.replace(',', '')))
df_stock['volume'] = df_stock['volume'].map(func_map_volume)
df_stock['change'] = df_stock['change'].map(lambda x: float(x.replace('%', '')) / 100)

In [6]:
df_stock.to_csv('./data/600519_clean.csv', index=False)

In [47]:
df_mt = pd.read_csv('./data/600519.csv')

df_mt.describe()

,Close,Open,High,Low,Volume,Change
count,1942.000000,1942.000000,1942.000000,1942.000000,1.942000e+03,1942.000000
mean,416.342152,415.675396,421.311972,410.796777,4.143622e+06,0.001037
std,308.651366,308.184666,311.933793,304.812292,2.680067e+06,0.020511
min,107.960000,108.050000,109.480000,107.280000,8.148700e+05,-0.123000
25%,176.577500,176.465000,178.675000,173.372500,2.462500e+06,-0.009800
50%,249.850000,249.550000,253.665000,246.575000,3.520000e+06,0.000150
75%,657.252500,654.292500,668.830000,645.120000,4.957500e+06,0.011375
max,1233.750000,1231.000000,1241.610000,1228.060000,3.181000e+07,0.103700

In [48]:
df_ap = pd.read_csv('./data/AAPL.csv')

df_ap.describe()

,Unnamed: 0,Open,High,Low,Close,Volume
count,5255.000000,5255.000000,5255.000000,5255.000000,5255.000000,5.255000e+03
mean,2627.000000,158.335855,160.109968,156.388133,158.286548,2.122191e+07
std,1517.132163,161.309153,162.588024,159.766714,161.195754,1.824189e+07
min,0.000000,12.990000,13.190000,12.720000,13.120000,7.025000e+05
25%,1313.500000,37.940000,38.580000,37.160000,37.980000,6.705350e+06
50%,2627.000000,106.370000,108.000000,104.880000,106.130000,1.677300e+07
75%,3940.500000,187.765000,189.405000,185.635000,187.560050,2.976013e+07
max,5254.000000,702.410000,705.070000,699.570000,702.100000,1.895606e+08