In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_stock = pd.read_csv('./data/600519.csv')
df_stock = df_stock.iloc[::-1].reset_index(drop=True)
df_stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1942 entries, 0 to 1941
Data columns (total 7 columns):
date      1942 non-null object
close     1942 non-null object
open      1942 non-null object
high      1942 non-null object
low       1942 non-null object
volume    1942 non-null object
change    1942 non-null object
dtypes: object(7)
memory usage: 106.3+ KB

In [4]:
df_stock.head()

         date   close    open    high     low   volume  change
0  2012年3月21日   205.1   207.8     209  203.86    2.95M  -1.28%
1  2012年3月22日  205.35  204.32   206.9  204.29  833.19K   0.12%
2  2012年3月23日  212.02   207.5  212.55   207.5    5.49M   3.25%
3  2012年3月26日   215.2  211.12   215.9   211.1    3.77M   1.50%
4  2012年3月27日   201.5  210.22  210.99     201    7.91M  -6.37%

In [5]:
def func_map_volume(x):
    if 'K' in x:
        return float(x.replace('K', '')) * 1e3
    else:
        return float(x.replace('M', '')) * 1e6

df_stock['close'] = df_stock['close'].map(lambda x: float(x.replace(',', '')))
df_stock['open'] = df_stock['open'].map(lambda x: float(x.replace(',', '')))
df_stock['high'] = df_stock['high'].map(lambda x: float(x.replace(',', '')))
df_stock['low'] = df_stock['low'].map(lambda x: float(x.replace(',', '')))
df_stock['volume'] = df_stock['volume'].map(func_map_volume)
df_stock['change'] = df_stock['change'].map(lambda x: float(x.replace('%', '')) / 100)

In [6]:
df_stock.to_csv('./data/600519_clean.csv', index=False)

In [9]:
df = pd.read_csv('./data/600519.csv')
df.info()

df.loc[0:5, 'Open'].values.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1942 entries, 0 to 1941
Data columns (total 7 columns):
Date      1942 non-null object
Close     1942 non-null float64
Open      1942 non-null float64
High      1942 non-null float64
Low       1942 non-null float64
Volume    1942 non-null float64
Change    1942 non-null float64
dtypes: float64(6), object(1)
memory usage: 106.3+ KB

(6,)